*.class
/build/
/AnguloModulo/nbproject/private/
/ArrayObjects/nbproject/private/
/Biblioteca/nbproject/private/
/DistanciaDosPuntos/nbproject/private/
/Excepcions/nbproject/private/
/GenericsExample/nbproject/private/
/GraficosJava/nbproject/private/
/JFrames/nbproject/private/
/ListaEstudiantes/nbproject/private/
/ListsExample/nbproject/private/
/ListasAnimalExample/nbproject/private/
/Matrizes/nbproject/private/
/MethodBurbuja/nbproject/private/
/SumaMatrices/nbproject/private/
/SumaMatrices2/nbproject/private/
/ListaEstudiantes/build/
/ListsExample/build/
/SumaMatrices2/build/
/ExcribirJson/nbproject/private/
/LeerJson/nbproject/private/
/ListaExperimento/nbproject/private/
/ListaExperimento/build/
/HTML5ApplicationVeterinaria/nbproject/private/
/example2/build/
/JavaApplication5/nbproject/private/
/JavaApplication5/build/
/JavaApplication6/nbproject/private/
/JavaApplication6/build/
/example1/build/
/lector_Archivos_TxT/nbproject/private/
/lector_Archivos_TxT/build/
/escribir_Archivos_TxT/nbproject/private/
/escribir_Archivos_TxT/build/
/lectura_Archivos_Properties/nbproject/private/
/Leer_Archivo_properties/nbproject/private/
/JavaApplication11/nbproject/private/
/JavaApplication12/nbproject/private/
/JavaApplication12/build/
/leer_Archivos_Properties/nbproject/private/
/leer_Archivos_Properties/build/
/leer_Archivos_Properties/dist/
/p1/nbproject/private/
/ejercicio1/nbproject/private/
/ejercicio1/build/
/Exaple2/nbproject/private/
/Exaple2/build/
/ListaExperimento/dist/
/jdbcExaple/nbproject/private/
/jdbcExaple/build/
/exapleInterfaces/nbproject/private/
/exapleInterfaces/build/
/JavaApplication19/nbproject/private/
/newExampleJdbc/nbproject/private/
/newExampleJdbc/build/
/newExaple2/nbproject/private/
/exapleUsingjava/nbproject/private/
/exapleUsingjava/build/
/newJDBC/nbproject/private/
/newJDBC/build/
/mapas/nbproject/private/
/mapas/build/